/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*
HEADER
*/
header {
    height: 40px;
    text-align: right;
}
header button {
    background-color:#4a4a4a;
    color: white;
     border-radius: 3px;
     padding: 2px 4px;
     border: none;
}


/*
MAIN
*/
main {
    height: calc(100vh - 140px);
}
.camere {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.camere > div {
    
    margin: 5px;
    
}
.camere > div img {
    display: block;
    height: 100px;
    
}

/*
FOOTER
*/
footer {
    height: 100px;
    display: flex;
    color: white;
    justify-content: space-between;
   
}

footer > div > * {
    height: 100%;
}

footer button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 5px;
}

footer button > div:last-child {
    margin-top: 10px;
}

#end-meeting-button {
    color: red;
    background-color: #4a4a4a;
    padding: 10px;

}

/*
DEBUG
*/


.debug main {
    background-color: lightcoral;
}

.debug main .camere {
    background-color: aqua;
}
.debug main .camere > div {
    
    
    background-color: red;
    border: 2px dashed yellow;
}

